extends base.pug

block content
	a(href="/pets/new") Create a new #{resource}
	each owner in owners
		//- p `Name ${pet.name}` | a(href=`/pets/${pet.id}/edit`) Edit
		p Name: #{pet.name} 
			a(href=`/pets/${pet.id}/edit`) Edit 
			| or 
			a(href=`/pets/${pet.id}`) See the pet's own page